@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
  }

section{
    max-width: 1040px;
    margin: 0 auto;
}
main > section{
    margin:120px auto;
}